.groups-content-section {
    height: 100%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    overflow: hidden;



    .groups-content-section-header {
        width: 100%;
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        h1 { font-size: 32px; }
    }

    .groups-content-section-cards {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }


}