// TODO: Approximate styles with similar modals (create-new-group-modal e.t.c)
.create-new-deck-modal {
  width: 100%;
  display: flex;
  flex-direction: column;

  .create-new-deck-modal-label {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 20px;
  }

  .create-new-deck-modal-input {
    &::placeholder {
      font-family: "Gilroy Light", sans-serif;
      color: #B9B9B9;
    }
  }

  .create-new-deck-quiz-modes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > span {
      font-size: 18px;
      color: #868686;
      margin-bottom: 10px;
    }

    .create-new-deck-quiz-modes-toggle-item {
      border: none;
      background-color: rgba(219, 219, 219, 0.24);

      &[data-state="on"] {
        background-color: rgba(255, 144, 38, 0.27);
      }
    }
  }

}