.create-new-group-modal {
    width: 100%;
    //height: 550px;
    display: flex;

    .create-new-group-modal-label {
        font-family: "Gilroy Regular", sans-serif;
        font-size: 20px;
    }

    .create-new-group-modal-input {
        &::placeholder {
            font-family: "Gilroy Light", sans-serif;
            color: #B9B9B9;
        }
    }

}
.create-new-group-modal-footer {
    display: flex;
    padding: 25px 50px 35px 50px;


    .modal-confirm-button {
        width: 100%;
        font-family: 'Gilroy Bold', sans-serif;
        font-size: 18px;
        padding: 25px;
        border-radius: 12px;
    }

    .modal-cancel-button {
        background-color: #FF7474;
        flex: 0 1 45px;
        padding: 25px 20px;
        border-radius: 12px;

        margin-right: 25px;
    }
}