.memoization-page-header {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding-bottom: 31px;

    h2 {
        font-size: 32px;
        font-family: "Gilroy Regular", sans-serif;
    }
    
    
    @media screen and (max-width: 600px) {
        h2 {
            font-size: 16px;
            font-weight: bold;
        }
    }
}