.dashboard-content-section {
    height: 100%;
    margin-top: 30px;

    .dashboard-content-strip {
        width: 100%;
        display: flex;

        .dashboard-content-card {
            width: 290px;
            height: 100px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            border-radius: 12px;
            background-color: #EDEDED;
            padding: 0px 15px;

            &:not(:first-child) { margin-left: 25px; }

            .dashboard-content-card-count {
                color: #F18C29;
                font-family: "Gilroy Medium", sans-serif;
                font-size: 24px;
            }

            .dashboard-content-card-topic {
                font-family: "Gilroy Medium", sans-serif;
                font-size: 18px;
            }
        }

    }

    h1 {
        font-size: 32px;
        font-family: "Gilroy Medium", sans-serif;
    }
}